body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

pre {
	background-color: lightblue;
	border: 1px solid darkblue;
	margin: 1px;
	padding: 1px;
}